.submitButton{
    --sds-c-button-brand-color-background: #ff7300;
    --sds-c-button-brand-color-border: #ff7300;
    --sds-c-button-brand-color-background-hover: #ff7300;
    --sds-c-button-brand-color-border-hover: #ff7300;
  }