.border {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
  }
  
  .cell {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  .highLight {
    background-color: #ff660082;
  }